<h2>Gestor de Jogos</h2>

<table border="1" >

  <tr>
    <th>Nome do Jogo</th>
    <th>Status</th>
    <th>Ações</th>
  </tr>

  <tr *ngFor="let jogo of jogos" >

    <td>{{jogo.nome}}</td>
    <td>{{jogo.status}}</td>
    <td>
      <button (click)="selecionar(jogo)">editar</button>
      <button (click)="remover(jogo.id)">excluir</button>
    </td>

  </tr>

</table>

<div *ngIf="jogoAtual">

  <input [(ngModel)]="jogoAtual.nome">

  <select [(ngModel)]="jogoAtual.status">
    <option value="na">Não informado</option>
    <option value="quero">quero</option>
    <option value="tenho">tenho</option>
    <option value="jogando">jogando</option>
    <option value="zerado">zerado</option>

  </select>

  <br><br>

  <input placeholder="genero" [(ngModel)]="jogoAtual.genero">
  <br><br>
  <input placeholder="plataforma" [(ngModel)]="jogoAtual.plataforma">

  <br><br>

  <button (click)="salvar()">Salvar</button>
  <button (click)="cancelar()">Cancelar</button>

</div>

<button (click)="novo()">Novo Jogo</button>
